:root {
    --font-sans: "Roboto", Helvetica, Arial, sans-serif;
    --font-heading: 'Secular One', sans-serif;
  
    /* Padding */
    --padding: 20px;
    --paddingXS: 30px;
    --paddingM: 50px;
  
    /* Layout */
    --container-edge: 12px;
    --container-edge-tablet: 24px;
    --container-edge-desktop: 30px;
    --container-max-width: 1300px;
  
    /* Colors */
    --blue: #0D4C9C;
    --blue-2: #003D8C;
    --blue-3: #1267D5;
    --blue-4: #063A7B;
    --blue-5: #2E69B4;
  
    --orange: #FF6600;
    --orange-2: #DF5900;
  
    --red: #E74C3C;
    --red-2: #FF0000;
    --red-3: #D40000;
    --red-4: #DA0B21;
  
    --white: #FFFFFF;
    --white-2: #F8F8F8;
    --white-3: #F6F6F6;
    --white-4: #F1F1F1;
    --white-5: #FFF2F1;
  
    --black: #000000;
    --black-2: #444444;
    --black-3: #2C3E50;
    --black-4: #222222;
    --black-5: #111111;
    --black-6: #1C1C1C;
    --black-7: #333333;
    --black-8: #3D3D3D;
  
    --gray: #EEEEEE;
    --gray-2: #E4E4E4;
    --gray-3: #CCCCCC;
    --gray-4: #F2F2F2;
    --gray-5: #999999;
    --gray-6: #888888;
    --gray-7: #BBBBBB;
    --gray-8: #e8e8e8;
    --gray-9: #AAAAAA;
    --gray-10: #ABBACD;
    --gray-11: #B8B8B8;
    --gray-12: #666666;
    --gray-13: #777777;
    --gray-14: #979797;
    --gray-15: #b7b7b7;
  
    --green: #0C8E0D;
    --yellow: #FDE15A;
  
    --c-black-gradient-01: rgba(0,0,0,0.1);
    --c-black-gradient-07: rgba(0,0,0,0.7);
    --c-black-gradient-008: rgba(0,0,0,0.08);
    --c-black-gradient-09: rgba(17,17,17,0.9);
    --c-black-gradient-01: rgba(0,0,0,0.1);
    --c-white-gradient-05: rgba(255, 255, 255, 0.5);
  
    /* Borders */
    --border: 1px solid var(--black);
    --borderMediumBlack: 2px solid var(--black);
    --borderWhite: 1px solid var(--white);
  
    /* Transitions */
    --duration: 0.25s;
    --speed: 200ms;
    --ease: ease-in-out;
    --ease-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  
    /* Grids */
    --grid-gutter-default: 12px;
    --gutter-sm: 12px;
    --gutter-ml: 18px;
    --gutter-l: 24px;
  
    /* Header */
    --h-height: 120px;
    --h-height-tablet: 66px;
    --h-height-desktop: 134px;
    --h-height-nav: 53px;
  
    /** Button **/
  
    --c-button-primary-bg: var(--orange);
    --c-button-primary-text: var(--white);
    --c-button-primary-border: var(--orange);
    --c-button-primary-disable-bg: var(--gray);
    --c-button-primary-disable-text: var(--gray-9);
    --c-button-primary-disable-border: var(--gray);
    --c-button-primary-hover-bg: var(--orange-2);
    --c-button-primary-hover-text: var(--white);
    --c-button-primary-hover-border: var(--orange-2);
  
    --c-button-secondary-bg: var(--blue);
    --c-button-secondary-text: var(--white);
    --c-button-secondary-border: var(--blue);
    --c-button-secondary-disable-bg: var(--gray);
    --c-button-secondary-disable-text: var(--gray-9);
    --c-button-secondary-disable-border: var(--gray);
    --c-button-secondary-hover-bg: var(--blue-2);
    --c-button-secondary-hover-text: var(--white);
    --c-button-secondary-hover-border: var(--blue-2);
  
    --c-button-alternate-bg: var(--white);
    --c-button-alternate-text: var(--black-5);
    --c-button-alternate-border: var(--gray-10);
    --c-button-alternate-disable-bg: var(--gray);
    --c-button-alternate-disable-text: var(--gray-9);
    --c-button-alternate-disable-border: var(--gray);
    --c-button-alternate-hover-bg: var(--gray);
    --c-button-alternate-hover-text: var(--black-5);
    --c-button-alternate-hover-border: var(--gray);
  
    --c-button-icon-bg: var(--white);
    --c-button-icon-text: var(--blue);
    --c-button-icon-border: var(--blue);
    --c-button-icon-disable-bg: var(--gray);
    --c-button-icon-disable-text: var(--gray-9);
    --c-button-icon-disable-border: var(--gray);
    --c-button-icon-hover-bg: var(--blue);
    --c-button-icon-hover-text: var(--white);
    --c-button-icon-hover-border: var(--blue);
  }
  
  /* Breakpoint Queries */
  @custom-media --xs all;
  @custom-media --small-mobile (min-width: 375px);
  @custom-media --xs-max (max-width: 599px);
  @custom-media --s (min-width: 600px);
  @custom-media --s-max (max-width: 767px);
  @custom-media --sm (min-width: 768px);
  @custom-media --sm-max (max-width: 968px);
  @custom-media --m (min-width: 969px);
  @custom-media --m-max (max-width: 1023px);
  @custom-media --ml (min-width: 1024px);
  @custom-media --ml-max (max-width: 1279px);
  @custom-media --l (min-width: 1280px);
  @custom-media --l-max (max-width: 1439px);
  @custom-media --xl (min-width: 1440px);
  